@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-unbounded);
  background-image: url("/img/paper.png"); /* Path to your image in the public folder */
  background-repeat: repeat; /* Ensures the image repeats */
  background-size: auto; /* Default size, can adjust as needed */
  background-position: top left; /* Start repeating from top-left */
  width: 100vw; /* Full viewport width */
  height: 100vh; /* Full viewport height */
}

@keyframes gradientSpread {
  0% {
    top: -200%;
    left: 200%;
    background-size: 400% 400%;
    border-radius: 100%;
  }
  100% {
    top: 0;
    left: 0;
    background-size: 100% 100%;
    border-radius: 0%;
  }
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(6deg);
  }
  50% {
    transform: rotate(-6deg);
  }
  100% {
    transform: rotate(6deg);
  }
}
